@use "../abstact/mixins" as mixin;

.background-shapes {
  flex-basis: 100%;
  @include mixin.responsive(xs) {
    display: none;
  }
  @include mixin.responsive(sm) {
    display: none;
  }
  @include mixin.responsive(md) {
    display: none;
  }
  @include mixin.responsive(lg) {
    display: block;
    flex-basis: 0;
  }
  @include mixin.responsive(xl) {
    display: block;
  }
  @include mixin.responsive(xxl) {
    flex-basis: 0%;
    }

  .box1 {
    position: absolute;
    top: 20%;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 4px solid #3f43fd;
    border-radius: 0.35rem;
    z-index: -1;
    transform: rotate(360deg);
    animation: box-shape linear 5s infinite;

    @include mixin.responsive(md) {
      left: 10%;
      top: 40%;
    }
    @include mixin.responsive(lg) {
      left: 10%;
      top: 30%;
    }
    @include mixin.responsive(xl) {
      left: 10%;
      top: 30%;
    }
    @include mixin.responsive(xxl) {
      left: 15%;
      top: 20%;
    }
  }

  .box2 {
    position: absolute;
    top: 85%;
    left: 20%;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 4px solid #3f43fd;
    border-radius: 0.35rem;
    z-index: -1;
    transform: rotate(360deg);
    animation: box-shape linear 5s infinite;

    @include mixin.responsive(md) {
      left: 5%;
      top: 110%;
    }
    @include mixin.responsive(lg) {
      left: 25%;
      top: 70%;
    }
    @include mixin.responsive(xl) {
      left: 35%;
      top: 65%;
    }
    @include mixin.responsive(xxl) {
      left: 35%;
      top: 40%;
    }
  }
  .box3 {
    position: absolute;
    top: 85%;
    right: 9%;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 4px solid #3f43fd;
    border-radius: 0.35rem;
    z-index: -1;
    transform: rotate(360deg);
    animation: box-shape linear 5s infinite;
    @include mixin.responsive(lg) {
      right: 15%;
      top: 75%;
    }
    @include mixin.responsive(xl) {
      left: 65%;
      top: 65%;
    }
    @include mixin.responsive(xxl) {
      left: 65%;
      top: 43%;
    }
  }

  .dot1 {
    position: absolute;
    top: 77%;
    left: 6%;
    width: 8px;
    height: 8px;
    background-color: #f34646;
    border-radius: 50%;
    z-index: -1;
    transform: rotate(360deg);
    animation: box-shape linear 5s infinite;

    @include mixin.responsive(md) {
      left: 15%;
      top: 110%;
    }
    @include mixin.responsive(lg) {
      left: 15%;
      top: 80%;
    }
    @include mixin.responsive(xl) {
      left: 20%;
      top: 65%;
    }
    @include mixin.responsive(xxl) {
      left: 20%;
      top: 40%;
    }
  }

  .dot2 {
    position: absolute;
    top: 60%;
    right: 9%;
    width: 8px;
    height: 8px;
    background-color: #f34646;
    border-radius: 50%;
    z-index: -1;
    transform: rotate(360deg);
    animation: box-shape linear 5s infinite;
    @include mixin.responsive(md) {
      right: 20%;
      top: 65%;
    }
    @include mixin.responsive(lg) {
      right: 40%;
      top: 85%;
    }
    @include mixin.responsive(xl) {
      right: 40%;
      top: 55%;
    }
    @include mixin.responsive(xl) {
      right: 50%;
      top: 30%;
    }
  }

  .dot3 {
    position: absolute;
    top: 30%;
    right: 50%;
    width: 8px;
    height: 8px;
    background-color: #f34646;
    border-radius: 50%;
    z-index: -1;
    transform: rotate(360deg);
    animation: box-shape linear 5s infinite;
    @include mixin.responsive(md) {
      left: 80%;
      top: 30%;
    }
    @include mixin.responsive(lg) {
      left: 80%;
      top: 25%;
    }
    @include mixin.responsive(xl) {
      right: 20%;
      top: 20%;
    }
    @include mixin.responsive(xxl) {
      right: 20%;
      top: 15%;
    }
  }

  .dot4 {
    position: absolute;
    top: 70%;
    right: 90%;
    width: 8px;
    height: 8px;
    background-color: #f34646;
    border-radius: 50%;
    z-index: -1;
    transform: rotate(360deg);
    animation: box-shape linear 5s infinite;

    @include mixin.responsive(lg) {
      left: 40%;
      top: 35%;
    }
    @include mixin.responsive(xl) {
      left: 40%;
      top: 25%;
    }
    @include mixin.responsive(xl) {
      left: 40%;
      top: 18%;
    }
  }

  .heart1 {
    position: absolute;
    top: 18%;
    right: 52%;
    font-size: 1.7rem;
    color: #9c20f0;
    z-index: -1;
    transform: rotate(360deg);
    animation: box-shape linear 5s infinite;

    @include mixin.responsive(md) {
      right: 30%;
      top: 30%;
    }

    @include mixin.responsive(lg) {
      right: 50%;
      top: 25%;
    }
    @include mixin.responsive(xl) {
      right: 50%;
      top: 25%;
    }
    @include mixin.responsive(xl) {
      right: 45%;
      top: 18%;
    }
  }

  .heart2 {
    position: absolute;
    top: 65%;
    left: 30%;
    font-size: 1.6rem;
    color: #9c20f0;
    z-index: -1;
    transform: rotate(360deg);
    animation: box-shape linear 5s infinite;

    @include mixin.responsive(md) {
      left: 80%;
      top: 105%;
    }

    @include mixin.responsive(lg) {
      left: 5%;
      top: 80%;
    }
    @include mixin.responsive(xl) {
      left: 10%;
      top: 55%;
    }
    @include mixin.responsive(xxl) {
      left: 17%;
      top: 35%;
    }
  }

  .circle1 {
    position: absolute;
    top: 80%;
    left: 43%;
    width: 20px;
    height: 20px;
    border: 4px solid #f34646;
    border-radius: 50%;
    z-index: -1;
    transform: rotate(360deg);
    animation: box-shape linear 5s infinite;

    @include mixin.responsive(md) {
      top: 125%;
    }
    @include mixin.responsive(lg) {
      top: 70%;
      left: 40%;
    }
    @include mixin.responsive(xl) {
      top: 57%;
      left: 47%;
    }
    @include mixin.responsive(xxl) {
      top: 37%;
      left: 45%;
    }
  }

  .circle2 {
    position: absolute;
    top: 20%;
    right: 5%;
    width: 20px;
    height: 20px;
    border: 4px solid #f34646;
    border-radius: 50%;
    z-index: -1;
    transform: rotate(360deg);
    animation: box-shape linear 5s infinite;

    @include mixin.responsive(md) {
      right: 10%;
      top: 48%;
    }
    @include mixin.responsive(lg) {
      right: 25%;
      top: 80%;
    }
    @include mixin.responsive(xl) {
      right: 15%;
      top: 65%;
    }
    @include mixin.responsive(xl) {
      right: 15%;
      top: 35%;
    }
  }
}
