@use "../abstact/variable" as var;
@use "../abstact/functions" as func;
@use "../abstact/mixins" as mixin;

.btn {
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  border-radius: 6px;
  font-size: 0.98rem;
  font-weight: 500;
  border: none;
  outline: none;
  display: inline-block;
  cursor: pointer;

  &-primary {
    @extend .btn;
    background-color: func.them-colors();
    color: #fff;
    @include mixin.responsive(xxl) {
      font-size: 1.5rem;
      padding: 10px 30px;
    }
  }

  &:hover {
    background-color: func.them-colors("primary-hover");
  }

  &-primary-outlined {
    @extend .btn;
    background-color: #fff;
    border: 2px solid func.them-colors();
    color: func.them-colors();

    @include mixin.responsive(xxl) {
      font-size: 1.5rem;
      padding: 10px 30px;
    }

    &:hover {
      background-color: func.them-colors();
      color: #fff;
    }
  }
}
