@use "../abstact/variable" as var;
@use"../abstact/functions" as func;

.btn {
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  border-radius: 6px;
  font-size: 0.98rem;
  font-weight: 500;
  border: none;
  outline: none;
  display: inline-block;
   cursor: pointer;

  &-primary{
    @extend .btn;
    background-color: func.them-colors();
    color: #fff;
  }

  &:hover{
    background-color: func.them-colors("primary-hover");
  }

  &-primary-outlined{
    @extend .btn;
    background-color: #fff;
    border: 2px solid func.them-colors();
    color: func.them-colors();


    &:hover{
      background-color: func.them-colors();
      color:#fff;
    }
  }
}
