@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.color-anim {
  transition: 550ms;
  animation: color-change 5s infinite;
}

.line {
  background: linear-gradient(to right, #e24997, #2d2ed4);
  width: 8rem;
  height: 0.4rem;
  border-radius: 5px;
  margin: 25px auto;
}

.img-responsive {
  border-radius: 15px;
  max-width: 100%;
  height: auto;
}

.hidden {
  display: none;
}

.btn, .btn-primary-outlined, .btn-primary {
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  border-radius: 6px;
  font-size: 0.98rem;
  font-weight: 500;
  border: none;
  outline: none;
  display: inline-block;
  cursor: pointer;
}
.btn-primary {
  background-color: #3f43fd;
  color: #fff;
}
@media only screen and (min-width: 1450px) {
  .btn-primary {
    font-size: 1.5rem;
    padding: 10px 30px;
  }
}
.btn:hover, .btn-primary-outlined:hover, .btn-primary:hover {
  background-color: #3135e8;
}
.btn-primary-outlined {
  background-color: #fff;
  border: 2px solid #3f43fd;
  color: #3f43fd;
}
@media only screen and (min-width: 1450px) {
  .btn-primary-outlined {
    font-size: 1.5rem;
    padding: 10px 30px;
  }
}
.btn-primary-outlined:hover {
  background-color: #3f43fd;
  color: #fff;
}

.badge, .badge-primary {
  padding: 2px 10px;
  border-radius: 10px;
}
.badge-primary {
  background-color: #3f43fd;
  color: #fff;
}

.form-control {
  padding: 0.8rem 1.5rem;
  width: 100%;
  background-color: rgb(207, 205, 205);
  border: none;
  outline: none;
  border-radius: 5px;
}
.form-control:focus {
  border: 2px solid #3f43fd;
}

.resize-x {
  resize: horizontal;
}

.resize-x {
  resize: vertical;
}

.resize-none {
  resize: none;
}

/* Heder Style */
.header {
  padding: 0.5rem 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
}
@media only screen and (max-width: 576px) {
  .header {
    padding: 1rem 2rem;
  }
}
@media only screen and (min-width: 576px) {
  .header {
    padding: 1rem 2rem;
  }
}
@media only screen and (min-width: 768px) {
  .header {
    padding: 2rem 4rem;
  }
}
@media only screen and (min-width: 992px) {
  .header {
    padding: 1rem 4rem;
  }
}
@media only screen and (min-width: 1200px) {
  .header {
    padding: 1rem 4rem;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1450px) {
  .header {
    padding: 2rem 15rem;
  }
}
@media only screen and (min-width: 1450px) {
  .header--h2 {
    font-size: 1.5rem;
  }
}
.header .nav-toggler {
  display: none;
}
@media only screen and (max-width: 576px) {
  .header .nav-toggler {
    display: block;
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 576px) {
  .header .nav-toggler {
    display: block;
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 768px) {
  .header .nav-toggler {
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 992px) {
  .header .nav-toggler {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  .header .nav-toggler {
    display: none;
  }
}
@media only screen and (min-width: 1450px) {
  .header .nav-toggler {
    display: none;
  }
}
.header--menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-transform: uppercase;
}
@media only screen and (max-width: 576px) {
  .header--menu {
    display: block;
    position: fixed;
    left: 0;
    top: -100%;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    background-color: #1119f7;
    transition: 500ms;
  }
  .header--menu.show {
    display: blocks;
    top: 60px;
  }
  .header--menu li {
    padding: 1.5rem;
    text-align: center;
  }
  .header--menu li a {
    color: #eee;
  }
  .header--menu .header--menu__item > a.active {
    color: #000;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .header--menu {
    display: none;
    position: fixed;
    left: 0;
    top: -100%;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    background-color: #1119f7;
    transition: 500ms;
  }
  .header--menu.show {
    display: blocks;
    top: 60px;
  }
  .header--menu li {
    padding: 1.5rem;
    text-align: center;
  }
  .header--menu li a {
    color: #eee;
  }
  .header--menu .header--menu__item > a.active {
    color: #000;
  }
  .header--menu.show {
    display: block;
  }
}
@media only screen and (min-width: 992px) {
  .header--menu {
    display: flex;
  }
}
@media only screen and (min-width: 1200px) {
  .header--menu {
    display: flex;
  }
}
@media only screen and (min-width: 1450px) {
  .header--menu {
    display: flex;
  }
}
.header--menu__item > a {
  transition: 200ms;
  margin-right: 2rem;
  font-size: 18px;
  font-weight: 600;
  color: #000;
}
@media only screen and (min-width: 576px) {
  .header--menu__item > a {
    padding-top: 10px;
  }
}
@media only screen and (min-width: 992px) {
  .header--menu__item > a {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1200px) {
  .header--menu__item > a {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1450px) {
  .header--menu__item > a {
    font-size: 1.5rem;
  }
}
.header--menu__item > a:hover {
  color: #3f43fd;
}
.header--menu__item > a.active {
  color: #3f43fd;
}
.header.navbar-fixed {
  position: fixed;
  width: 100%;
  height: 12%;
  background: #ffffff;
  z-index: 20;
}

.background-shapes {
  flex-basis: 100%;
}
@media only screen and (max-width: 576px) {
  .background-shapes {
    display: none;
  }
}
@media only screen and (min-width: 576px) {
  .background-shapes {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .background-shapes {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  .background-shapes {
    display: block;
    flex-basis: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .background-shapes {
    display: block;
  }
}
@media only screen and (min-width: 1450px) {
  .background-shapes {
    flex-basis: 0%;
  }
}
.background-shapes .box1 {
  position: absolute;
  top: 20%;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 4px solid #3f43fd;
  border-radius: 0.35rem;
  z-index: -1;
  transform: rotate(360deg);
  animation: box-shape linear 5s infinite;
}
@media only screen and (min-width: 768px) {
  .background-shapes .box1 {
    left: 10%;
    top: 40%;
  }
}
@media only screen and (min-width: 992px) {
  .background-shapes .box1 {
    left: 10%;
    top: 30%;
  }
}
@media only screen and (min-width: 1200px) {
  .background-shapes .box1 {
    left: 10%;
    top: 30%;
  }
}
@media only screen and (min-width: 1450px) {
  .background-shapes .box1 {
    left: 15%;
    top: 20%;
  }
}
.background-shapes .box2 {
  position: absolute;
  top: 85%;
  left: 20%;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 4px solid #3f43fd;
  border-radius: 0.35rem;
  z-index: -1;
  transform: rotate(360deg);
  animation: box-shape linear 5s infinite;
}
@media only screen and (min-width: 768px) {
  .background-shapes .box2 {
    left: 5%;
    top: 110%;
  }
}
@media only screen and (min-width: 992px) {
  .background-shapes .box2 {
    left: 25%;
    top: 70%;
  }
}
@media only screen and (min-width: 1200px) {
  .background-shapes .box2 {
    left: 35%;
    top: 65%;
  }
}
@media only screen and (min-width: 1450px) {
  .background-shapes .box2 {
    left: 35%;
    top: 40%;
  }
}
.background-shapes .box3 {
  position: absolute;
  top: 85%;
  right: 9%;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 4px solid #3f43fd;
  border-radius: 0.35rem;
  z-index: -1;
  transform: rotate(360deg);
  animation: box-shape linear 5s infinite;
}
@media only screen and (min-width: 992px) {
  .background-shapes .box3 {
    right: 15%;
    top: 75%;
  }
}
@media only screen and (min-width: 1200px) {
  .background-shapes .box3 {
    left: 65%;
    top: 65%;
  }
}
@media only screen and (min-width: 1450px) {
  .background-shapes .box3 {
    left: 65%;
    top: 43%;
  }
}
.background-shapes .dot1 {
  position: absolute;
  top: 77%;
  left: 6%;
  width: 8px;
  height: 8px;
  background-color: #f34646;
  border-radius: 50%;
  z-index: -1;
  transform: rotate(360deg);
  animation: box-shape linear 5s infinite;
}
@media only screen and (min-width: 768px) {
  .background-shapes .dot1 {
    left: 15%;
    top: 110%;
  }
}
@media only screen and (min-width: 992px) {
  .background-shapes .dot1 {
    left: 15%;
    top: 80%;
  }
}
@media only screen and (min-width: 1200px) {
  .background-shapes .dot1 {
    left: 20%;
    top: 65%;
  }
}
@media only screen and (min-width: 1450px) {
  .background-shapes .dot1 {
    left: 20%;
    top: 40%;
  }
}
.background-shapes .dot2 {
  position: absolute;
  top: 60%;
  right: 9%;
  width: 8px;
  height: 8px;
  background-color: #f34646;
  border-radius: 50%;
  z-index: -1;
  transform: rotate(360deg);
  animation: box-shape linear 5s infinite;
}
@media only screen and (min-width: 768px) {
  .background-shapes .dot2 {
    right: 20%;
    top: 65%;
  }
}
@media only screen and (min-width: 992px) {
  .background-shapes .dot2 {
    right: 40%;
    top: 85%;
  }
}
@media only screen and (min-width: 1200px) {
  .background-shapes .dot2 {
    right: 40%;
    top: 55%;
  }
}
@media only screen and (min-width: 1200px) {
  .background-shapes .dot2 {
    right: 50%;
    top: 30%;
  }
}
.background-shapes .dot3 {
  position: absolute;
  top: 30%;
  right: 50%;
  width: 8px;
  height: 8px;
  background-color: #f34646;
  border-radius: 50%;
  z-index: -1;
  transform: rotate(360deg);
  animation: box-shape linear 5s infinite;
}
@media only screen and (min-width: 768px) {
  .background-shapes .dot3 {
    left: 80%;
    top: 30%;
  }
}
@media only screen and (min-width: 992px) {
  .background-shapes .dot3 {
    left: 80%;
    top: 25%;
  }
}
@media only screen and (min-width: 1200px) {
  .background-shapes .dot3 {
    right: 20%;
    top: 20%;
  }
}
@media only screen and (min-width: 1450px) {
  .background-shapes .dot3 {
    right: 20%;
    top: 15%;
  }
}
.background-shapes .dot4 {
  position: absolute;
  top: 70%;
  right: 90%;
  width: 8px;
  height: 8px;
  background-color: #f34646;
  border-radius: 50%;
  z-index: -1;
  transform: rotate(360deg);
  animation: box-shape linear 5s infinite;
}
@media only screen and (min-width: 992px) {
  .background-shapes .dot4 {
    left: 40%;
    top: 35%;
  }
}
@media only screen and (min-width: 1200px) {
  .background-shapes .dot4 {
    left: 40%;
    top: 25%;
  }
}
@media only screen and (min-width: 1200px) {
  .background-shapes .dot4 {
    left: 40%;
    top: 18%;
  }
}
.background-shapes .heart1 {
  position: absolute;
  top: 18%;
  right: 52%;
  font-size: 1.7rem;
  color: #9c20f0;
  z-index: -1;
  transform: rotate(360deg);
  animation: box-shape linear 5s infinite;
}
@media only screen and (min-width: 768px) {
  .background-shapes .heart1 {
    right: 30%;
    top: 30%;
  }
}
@media only screen and (min-width: 992px) {
  .background-shapes .heart1 {
    right: 50%;
    top: 25%;
  }
}
@media only screen and (min-width: 1200px) {
  .background-shapes .heart1 {
    right: 50%;
    top: 25%;
  }
}
@media only screen and (min-width: 1200px) {
  .background-shapes .heart1 {
    right: 45%;
    top: 18%;
  }
}
.background-shapes .heart2 {
  position: absolute;
  top: 65%;
  left: 30%;
  font-size: 1.6rem;
  color: #9c20f0;
  z-index: -1;
  transform: rotate(360deg);
  animation: box-shape linear 5s infinite;
}
@media only screen and (min-width: 768px) {
  .background-shapes .heart2 {
    left: 80%;
    top: 105%;
  }
}
@media only screen and (min-width: 992px) {
  .background-shapes .heart2 {
    left: 5%;
    top: 80%;
  }
}
@media only screen and (min-width: 1200px) {
  .background-shapes .heart2 {
    left: 10%;
    top: 55%;
  }
}
@media only screen and (min-width: 1450px) {
  .background-shapes .heart2 {
    left: 17%;
    top: 35%;
  }
}
.background-shapes .circle1 {
  position: absolute;
  top: 80%;
  left: 43%;
  width: 20px;
  height: 20px;
  border: 4px solid #f34646;
  border-radius: 50%;
  z-index: -1;
  transform: rotate(360deg);
  animation: box-shape linear 5s infinite;
}
@media only screen and (min-width: 768px) {
  .background-shapes .circle1 {
    top: 125%;
  }
}
@media only screen and (min-width: 992px) {
  .background-shapes .circle1 {
    top: 70%;
    left: 40%;
  }
}
@media only screen and (min-width: 1200px) {
  .background-shapes .circle1 {
    top: 57%;
    left: 47%;
  }
}
@media only screen and (min-width: 1450px) {
  .background-shapes .circle1 {
    top: 37%;
    left: 45%;
  }
}
.background-shapes .circle2 {
  position: absolute;
  top: 20%;
  right: 5%;
  width: 20px;
  height: 20px;
  border: 4px solid #f34646;
  border-radius: 50%;
  z-index: -1;
  transform: rotate(360deg);
  animation: box-shape linear 5s infinite;
}
@media only screen and (min-width: 768px) {
  .background-shapes .circle2 {
    right: 10%;
    top: 48%;
  }
}
@media only screen and (min-width: 992px) {
  .background-shapes .circle2 {
    right: 25%;
    top: 80%;
  }
}
@media only screen and (min-width: 1200px) {
  .background-shapes .circle2 {
    right: 15%;
    top: 65%;
  }
}
@media only screen and (min-width: 1200px) {
  .background-shapes .circle2 {
    right: 15%;
    top: 35%;
  }
}

footer {
  padding: 3rem 0;
  background-color: #3f43fd;
  text-align: center;
  color: #fff;
}
@media only screen and (max-width: 576px) {
  footer h2 {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 576px) {
  footer h2 {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 1450px) {
  footer h2 {
    font-size: 3rem;
  }
}
footer p {
  color: #cec3c3;
}
@media only screen and (max-width: 576px) {
  footer p {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 576px) {
  footer p {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 1450px) {
  footer p {
    font-size: 1.5rem;
    margin: 2rem;
  }
}
footer a {
  color: #fff;
}
footer a:hover {
  text-shadow: 2px 2px 10px black;
}
footer .social-icons > a > i {
  transition: 600ms;
  font-size: 1.5rem;
  padding: 0 10px;
  color: #254144;
}
@media only screen and (min-width: 1450px) {
  footer .social-icons > a > i {
    font-size: 3.5rem;
    padding: 0 20px;
  }
}
footer .social-icons > a > i:hover {
  color: #e4dcdc;
}
footer .copyright {
  font-size: 0.8rem;
}

@keyframes color-change {
  0% {
    color: #8031a7;
  }
  50% {
    color: #00b5e2;
  }
  100% {
    color: #ffa300;
  }
}
@keyframes box-shape {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-infinite {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.m-1 {
  margin: spacerem !important;
}

.p-1 {
  padding: spacerem !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.pt-1 {
  padding-top: 1rem !important;
}

.mr-1 {
  margin-right: 1rem !important;
}

.pr-1 {
  padding-right: 1rem !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.pb-1 {
  padding-bottom: 1rem !important;
}

.ml-1 {
  margin-left: 1rem !important;
}

.pl-1 {
  padding-left: 1rem !important;
}

.m-2 {
  margin: spacerem !important;
}

.p-2 {
  padding: spacerem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.pt-2 {
  padding-top: 2rem !important;
}

.mr-2 {
  margin-right: 2rem !important;
}

.pr-2 {
  padding-right: 2rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.pb-2 {
  padding-bottom: 2rem !important;
}

.ml-2 {
  margin-left: 2rem !important;
}

.pl-2 {
  padding-left: 2rem !important;
}

.m-3 {
  margin: spacerem !important;
}

.p-3 {
  padding: spacerem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.pt-3 {
  padding-top: 3rem !important;
}

.mr-3 {
  margin-right: 3rem !important;
}

.pr-3 {
  padding-right: 3rem !important;
}

.mb-3 {
  margin-bottom: 3rem !important;
}

.pb-3 {
  padding-bottom: 3rem !important;
}

.ml-3 {
  margin-left: 3rem !important;
}

.pl-3 {
  padding-left: 3rem !important;
}

.m-4 {
  margin: spacerem !important;
}

.p-4 {
  padding: spacerem !important;
}

.mt-4 {
  margin-top: 4rem !important;
}

.pt-4 {
  padding-top: 4rem !important;
}

.mr-4 {
  margin-right: 4rem !important;
}

.pr-4 {
  padding-right: 4rem !important;
}

.mb-4 {
  margin-bottom: 4rem !important;
}

.pb-4 {
  padding-bottom: 4rem !important;
}

.ml-4 {
  margin-left: 4rem !important;
}

.pl-4 {
  padding-left: 4rem !important;
}

.m-5 {
  margin: spacerem !important;
}

.p-5 {
  padding: spacerem !important;
}

.mt-5 {
  margin-top: 5rem !important;
}

.pt-5 {
  padding-top: 5rem !important;
}

.mr-5 {
  margin-right: 5rem !important;
}

.pr-5 {
  padding-right: 5rem !important;
}

.mb-5 {
  margin-bottom: 5rem !important;
}

.pb-5 {
  padding-bottom: 5rem !important;
}

.ml-5 {
  margin-left: 5rem !important;
}

.pl-5 {
  padding-left: 5rem !important;
}

.m-6 {
  margin: spacerem !important;
}

.p-6 {
  padding: spacerem !important;
}

.mt-6 {
  margin-top: 6rem !important;
}

.pt-6 {
  padding-top: 6rem !important;
}

.mr-6 {
  margin-right: 6rem !important;
}

.pr-6 {
  padding-right: 6rem !important;
}

.mb-6 {
  margin-bottom: 6rem !important;
}

.pb-6 {
  padding-bottom: 6rem !important;
}

.ml-6 {
  margin-left: 6rem !important;
}

.pl-6 {
  padding-left: 6rem !important;
}

.m-7 {
  margin: spacerem !important;
}

.p-7 {
  padding: spacerem !important;
}

.mt-7 {
  margin-top: 7rem !important;
}

.pt-7 {
  padding-top: 7rem !important;
}

.mr-7 {
  margin-right: 7rem !important;
}

.pr-7 {
  padding-right: 7rem !important;
}

.mb-7 {
  margin-bottom: 7rem !important;
}

.pb-7 {
  padding-bottom: 7rem !important;
}

.ml-7 {
  margin-left: 7rem !important;
}

.pl-7 {
  padding-left: 7rem !important;
}

.m-8 {
  margin: spacerem !important;
}

.p-8 {
  padding: spacerem !important;
}

.mt-8 {
  margin-top: 8rem !important;
}

.pt-8 {
  padding-top: 8rem !important;
}

.mr-8 {
  margin-right: 8rem !important;
}

.pr-8 {
  padding-right: 8rem !important;
}

.mb-8 {
  margin-bottom: 8rem !important;
}

.pb-8 {
  padding-bottom: 8rem !important;
}

.ml-8 {
  margin-left: 8rem !important;
}

.pl-8 {
  padding-left: 8rem !important;
}

.m-9 {
  margin: spacerem !important;
}

.p-9 {
  padding: spacerem !important;
}

.mt-9 {
  margin-top: 9rem !important;
}

.pt-9 {
  padding-top: 9rem !important;
}

.mr-9 {
  margin-right: 9rem !important;
}

.pr-9 {
  padding-right: 9rem !important;
}

.mb-9 {
  margin-bottom: 9rem !important;
}

.pb-9 {
  padding-bottom: 9rem !important;
}

.ml-9 {
  margin-left: 9rem !important;
}

.pl-9 {
  padding-left: 9rem !important;
}

.m-10 {
  margin: spacerem !important;
}

.p-10 {
  padding: spacerem !important;
}

.mt-10 {
  margin-top: 10rem !important;
}

.pt-10 {
  padding-top: 10rem !important;
}

.mr-10 {
  margin-right: 10rem !important;
}

.pr-10 {
  padding-right: 10rem !important;
}

.mb-10 {
  margin-bottom: 10rem !important;
}

.pb-10 {
  padding-bottom: 10rem !important;
}

.ml-10 {
  margin-left: 10rem !important;
}

.pl-10 {
  padding-left: 10rem !important;
}

.m-12 {
  margin: spacerem !important;
}

.p-12 {
  padding: spacerem !important;
}

.mt-12 {
  margin-top: 12rem !important;
}

.pt-12 {
  padding-top: 12rem !important;
}

.mr-12 {
  margin-right: 12rem !important;
}

.pr-12 {
  padding-right: 12rem !important;
}

.mb-12 {
  margin-bottom: 12rem !important;
}

.pb-12 {
  padding-bottom: 12rem !important;
}

.ml-12 {
  margin-left: 12rem !important;
}

.pl-12 {
  padding-left: 12rem !important;
}

.m-14 {
  margin: spacerem !important;
}

.p-14 {
  padding: spacerem !important;
}

.mt-14 {
  margin-top: 14rem !important;
}

.pt-14 {
  padding-top: 14rem !important;
}

.mr-14 {
  margin-right: 14rem !important;
}

.pr-14 {
  padding-right: 14rem !important;
}

.mb-14 {
  margin-bottom: 14rem !important;
}

.pb-14 {
  padding-bottom: 14rem !important;
}

.ml-14 {
  margin-left: 14rem !important;
}

.pl-14 {
  padding-left: 14rem !important;
}

.m-16 {
  margin: spacerem !important;
}

.p-16 {
  padding: spacerem !important;
}

.mt-16 {
  margin-top: 16rem !important;
}

.pt-16 {
  padding-top: 16rem !important;
}

.mr-16 {
  margin-right: 16rem !important;
}

.pr-16 {
  padding-right: 16rem !important;
}

.mb-16 {
  margin-bottom: 16rem !important;
}

.pb-16 {
  padding-bottom: 16rem !important;
}

.ml-16 {
  margin-left: 16rem !important;
}

.pl-16 {
  padding-left: 16rem !important;
}

.m-18 {
  margin: spacerem !important;
}

.p-18 {
  padding: spacerem !important;
}

.mt-18 {
  margin-top: 18rem !important;
}

.pt-18 {
  padding-top: 18rem !important;
}

.mr-18 {
  margin-right: 18rem !important;
}

.pr-18 {
  padding-right: 18rem !important;
}

.mb-18 {
  margin-bottom: 18rem !important;
}

.pb-18 {
  padding-bottom: 18rem !important;
}

.ml-18 {
  margin-left: 18rem !important;
}

.pl-18 {
  padding-left: 18rem !important;
}

.m-20 {
  margin: spacerem !important;
}

.p-20 {
  padding: spacerem !important;
}

.mt-20 {
  margin-top: 20rem !important;
}

.pt-20 {
  padding-top: 20rem !important;
}

.mr-20 {
  margin-right: 20rem !important;
}

.pr-20 {
  padding-right: 20rem !important;
}

.mb-20 {
  margin-bottom: 20rem !important;
}

.pb-20 {
  padding-bottom: 20rem !important;
}

.ml-20 {
  margin-left: 20rem !important;
}

.pl-20 {
  padding-left: 20rem !important;
}

.space-x-1 > * {
  margin-right: 1rem;
}

.space-y-1 > * {
  margin-top: 1rem;
}

.space-x-2 > * {
  margin-right: 2rem;
}

.space-y-2 > * {
  margin-top: 2rem;
}

.space-x-3 > * {
  margin-right: 3rem;
}

.space-y-3 > * {
  margin-top: 3rem;
}

.space-x-4 > * {
  margin-right: 4rem;
}

.space-y-4 > * {
  margin-top: 4rem;
}

.space-x-5 > * {
  margin-right: 5rem;
}

.space-y-5 > * {
  margin-top: 5rem;
}

.hero-area {
  padding: 5rem 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
@media only screen and (max-width: 576px) {
  .hero-area {
    padding: 4rem 2rem;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
@media only screen and (min-width: 576px) {
  .hero-area {
    padding: 4rem 2rem;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
@media only screen and (min-width: 768px) {
  .hero-area {
    padding: 4rem 2rem;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
@media only screen and (min-width: 992px) {
  .hero-area {
    padding: 8rem 5rem;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
  }
}
@media only screen and (min-width: 1200px) {
  .hero-area {
    padding: 8rem 5rem;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1450px) {
  .hero-area {
    padding: 8rem 15rem;
    justify-content: space-between;
  }
}
.hero-area--img {
  padding-top: 20px;
  width: 30rem;
}
@media only screen and (max-width: 576px) {
  .hero-area--img {
    width: 20rem;
  }
}
@media only screen and (min-width: 1450px) {
  .hero-area--img {
    width: 40rem;
  }
}
.hero-area--contents {
  max-width: 34rem;
}
@media only screen and (min-width: 992px) {
  .hero-area--contents {
    font-size: 1.3rem;
    margin-right: 1.2rem;
  }
}
@media only screen and (min-width: 1450px) {
  .hero-area--contents {
    justify-content: space-around;
  }
}
.hero-area--title {
  font-size: 2.5rem;
}
@media only screen and (max-width: 576px) {
  .hero-area--title {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 768px) {
  .hero-area--title {
    font-size: 1.3rem;
  }
}
@media only screen and (min-width: 992px) {
  .hero-area--title {
    font-size: 1.3rem;
  }
}
@media only screen and (min-width: 1200px) {
  .hero-area--title {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1450px) {
  .hero-area--title {
    font-size: 3.5rem;
  }
}
.hero-area--desc {
  margin-top: 1.5rem;
  font-size: 1rem;
  line-height: 1.5;
  color: gray;
}
@media only screen and (max-width: 576px) {
  .hero-area--desc {
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 768px) {
  .hero-area--desc {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 1200px) {
  .hero-area--desc {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 1450px) {
  .hero-area--desc {
    font-size: 1.5rem;
  }
}

.about-area {
  padding: 10rem 8rem;
  background-color: #3f43fd;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 576px) {
  .about-area {
    padding: 4rem 2rem;
    flex-direction: column;
    margin-top: 0;
  }
}
@media only screen and (min-width: 576px) {
  .about-area {
    padding: 3rem 2rem;
    flex-direction: column;
    margin-top: 0;
  }
}
@media only screen and (min-width: 768px) {
  .about-area {
    padding: 4rem 3rem;
    flex-direction: column;
    margin-top: 0;
  }
}
@media only screen and (min-width: 992px) {
  .about-area {
    padding: 5rem 3rem;
    flex-direction: row;
    margin-top: 0;
    align-items: center;
  }
}
@media only screen and (min-width: 1200px) {
  .about-area {
    padding: 5rem 3rem;
    align-items: center;
  }
}
@media only screen and (min-width: 1450px) {
  .about-area {
    padding: 8rem 15rem;
    justify-content: space-between;
  }
}
.about-area--img {
  padding: 2rem;
  width: 20rem;
}
@media only screen and (min-width: 576px) {
  .about-area--img {
    width: 24rem;
    padding: 0;
  }
}
@media only screen and (min-width: 992px) {
  .about-area--img {
    width: 30rem;
    padding: 2rem;
  }
}
@media only screen and (min-width: 1200px) {
  .about-area--img {
    width: 30rem;
    padding: 2rem;
  }
}
@media only screen and (min-width: 1450px) {
  .about-area--img {
    width: 30rem;
    padding: 3rem;
  }
}
.about-area--content {
  color: #fff;
}
@media only screen and (max-width: 576px) {
  .about-area--content {
    margin: 0;
  }
}
.about-area--content h2 {
  font-size: 3rem;
}
@media only screen and (max-width: 576px) {
  .about-area--content h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
  }
}
@media only screen and (min-width: 576px) {
  .about-area--content h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
    align-items: center;
  }
}
@media only screen and (min-width: 992px) {
  .about-area--content h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}
@media only screen and (min-width: 1200px) {
  .about-area--content h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
}
.about-area--content p {
  line-height: 1.7rem;
  color: #cfcfcf;
}
@media only screen and (max-width: 576px) {
  .about-area--content p {
    font-size: 0.8rem;
    text-align: justify;
    line-height: 1.4rem;
  }
}
@media only screen and (min-width: 992px) {
  .about-area--content p {
    font-size: 1rem;
    line-height: 1.4rem;
  }
}
@media only screen and (min-width: 1200px) {
  .about-area--content p {
    font-size: 1.2rem;
    line-height: 2rem;
  }
}
@media only screen and (min-width: 1450px) {
  .about-area--content p {
    font-size: 1.5rem;
    line-height: 2.4rem;
  }
}
.about-area--content a {
  color: #fff;
}
.about-area--content a:hover {
  text-shadow: 10px 10px 10px;
  color: #000000;
}

.roadmap {
  padding: 8rem 10rem;
}
@media only screen and (max-width: 576px) {
  .roadmap {
    padding: 4rem 2rem;
  }
}
@media only screen and (min-width: 576px) {
  .roadmap {
    padding: 4rem 2rem;
  }
}
@media only screen and (min-width: 992px) {
  .roadmap {
    padding: 5rem 3rem;
  }
}
@media only screen and (min-width: 1200px) {
  .roadmap {
    padding: 5rem 5rem;
  }
}
@media only screen and (min-width: 1450px) {
  .roadmap {
    padding: 8rem 15rem;
    justify-content: space-between;
  }
}
.roadmap--heading {
  text-align: center;
}
.roadmap--heading h2 {
  font-size: 2rem;
}
@media only screen and (min-width: 1450px) {
  .roadmap--heading h2 {
    font-size: 2.5rem;
  }
}
.roadmap--heading p {
  color: gray;
}
@media only screen and (min-width: 1450px) {
  .roadmap--heading p {
    font-size: 2rem;
  }
}
.roadmap--items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
@media only screen and (max-width: 576px) {
  .roadmap--items {
    flex-direction: column;
    margin-left: -3.2rem;
  }
}
@media only screen and (min-width: 576px) {
  .roadmap--items {
    flex-direction: column;
    margin-left: -3.2rem;
  }
}
@media only screen and (min-width: 992px) {
  .roadmap--items {
    flex-direction: row;
  }
}
.roadmap--item {
  position: relative;
  padding: 2rem 1rem;
  text-align: center;
  max-width: 350px;
  margin-left: 3.5rem;
  filter: grayscale(100%);
}
@media only screen and (min-width: 992px) {
  .roadmap--item {
    max-width: 500px;
    padding: 0;
  }
}
.roadmap--item:hover .roadmap--item__img::after {
  animation: rotate-infinite 4000ms linear infinite;
}
@media only screen and (min-width: 1450px) {
  .roadmap--item:hover .roadmap--item__img::after {
    animation: rotate-infinite 10000ms linear infinite;
  }
}
.roadmap--item__img {
  position: relative;
  height: 100px;
  width: 100px;
  margin: 0 auto 3px;
}
@media only screen and (min-width: 1450px) {
  .roadmap--item__img {
    height: 200px;
    width: 200px;
  }
}
.roadmap--item__img img {
  height: 60px;
  width: 60px;
  margin-top: 25px;
}
@media only screen and (min-width: 1450px) {
  .roadmap--item__img img {
    height: 120px;
    width: 120px;
    margin-top: 50px;
  }
}
.roadmap--item__img::after {
  position: absolute;
  top: 0;
  left: -5px;
  width: 100%;
  height: 100%;
  content: "";
  border: 5px dotted #3f43fd;
  border-radius: 50%;
}
@media only screen and (min-width: 1450px) {
  .roadmap--item__img::after {
    border: 7px dotted #3f43fd;
    border-radius: 50%;
  }
}
.roadmap--item--contents {
  margin-top: 2rem;
}
.roadmap--item--contents h5 {
  font-size: 1.3rem;
  font-weight: 500;
}
@media only screen and (min-width: 1450px) {
  .roadmap--item--contents h5 {
    font-size: 2.5rem;
  }
}
.roadmap--item--contents p {
  color: gray;
  line-height: 1.5;
}
@media only screen and (min-width: 1450px) {
  .roadmap--item--contents p {
    font-size: 1.8rem;
  }
}
.roadmap--item:not(:last-child)::before {
  transition: 500ms;
  position: absolute;
  top: 23%;
  right: -15%;
  content: "\f054";
  width: 70px;
  height: 70px;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-size: 3rem;
  color: rgb(24, 23, 23);
  z-index: 1;
}
@media only screen and (max-width: 576px) {
  .roadmap--item:not(:last-child)::before {
    content: "\f107";
    top: 90%;
    left: 40%;
  }
}
@media only screen and (min-width: 576px) {
  .roadmap--item:not(:last-child)::before {
    content: "\f107";
    top: 90%;
    left: 40%;
  }
}
@media only screen and (min-width: 992px) {
  .roadmap--item:not(:last-child)::before {
    content: "\f054";
    top: 20%;
    left: auto;
    right: -30%;
  }
}
@media only screen and (min-width: 1200px) {
  .roadmap--item:not(:last-child)::before {
    content: "\f054";
    top: 20%;
    left: auto;
    right: -10%;
  }
}
.roadmap--item:hover:not(:last-child)::before {
  color: #3f43fd;
  right: -25%;
}
.roadmap--item:hover:last-child::after {
  position: absolute;
  top: 28%;
  right: -5%;
  content: "💖👍";
  width: 100px;
  height: 70px;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-size: 1.7rem;
  z-index: 1;
}
@media only screen and (max-width: 576px) {
  .roadmap--item:hover:last-child::after {
    top: 90%;
    left: 30%;
  }
}
@media only screen and (min-width: 576px) {
  .roadmap--item:hover:last-child::after {
    top: 90%;
    left: 30%;
  }
}
@media only screen and (min-width: 768px) {
  .roadmap--item:hover:last-child::after {
    top: 90%;
    left: 35%;
  }
}
@media only screen and (min-width: 992px) {
  .roadmap--item:hover:last-child::after {
    content: "💖👍";
    top: 20%;
    left: 75%;
  }
}
@media only screen and (min-width: 1450px) {
  .roadmap--item:hover:last-child::after {
    content: "💖👍";
    font-size: 3rem;
    width: auto;
    height: 70px;
  }
}
.roadmap--item:hover h5 {
  color: #3f43fd;
}
.roadmap--item:hover {
  filter: grayscale(0%);
}

.card {
  padding: 2rem 8rem;
  background-color: #3f43fd;
}
@media only screen and (max-width: 576px) {
  .card {
    padding: 4rem 2rem;
  }
}
@media only screen and (min-width: 576px) {
  .card {
    padding: 4rem 2rem;
  }
}
@media only screen and (min-width: 992px) {
  .card {
    padding: 5rem 3rem;
  }
}
@media only screen and (min-width: 1200px) {
  .card {
    padding: 5rem 3rem;
  }
}
@media only screen and (min-width: 1450px) {
  .card {
    padding: 8rem 15rem;
    justify-content: space-between;
  }
}
.card--heading {
  text-align: center;
}
.card--heading h2 {
  font-size: 2rem;
  color: #fff;
}
@media only screen and (max-width: 576px) {
  .card--heading h2 {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 576px) {
  .card--heading h2 {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 576px) {
  .card--heading h2 {
    font-size: 1.7rem;
  }
}
@media only screen and (min-width: 1450px) {
  .card--heading h2 {
    font-size: 3rem;
  }
}
.card--heading p {
  color: #d6d4d4;
}
@media only screen and (max-width: 576px) {
  .card--heading p {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 576px) {
  .card--heading p {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 768px) {
  .card--heading p {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1450px) {
  .card--heading p {
    font-size: 1.7rem;
  }
}
.card--items {
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width: 576px) {
  .card--items {
    flex-direction: column;
    text-align: center;
    display: initial;
    align-items: center;
  }
}
@media only screen and (min-width: 576px) {
  .card--items {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}
@media only screen and (min-width: 992px) {
  .card--items {
    flex-direction: row;
    text-align: center;
    align-items: center;
  }
}
@media only screen and (min-width: 1450px) {
  .card--items {
    flex-direction: row;
    text-align: center;
    align-items: center;
  }
}
.card--item {
  background-color: #fff;
  max-width: 300px;
  height: 430px;
  border-radius: 15px;
  overflow: hidden;
}
@media only screen and (max-width: 576px) {
  .card--item {
    margin-bottom: 1rem;
  }
}
@media only screen and (min-width: 576px) {
  .card--item {
    margin-bottom: 1rem;
  }
}
@media only screen and (min-width: 992px) {
  .card--item {
    max: width 200px;
    margin-right: 1.5rem;
  }
}
@media only screen and (min-width: 1450px) {
  .card--item {
    max-width: 350px;
  }
}
.card--item--img {
  width: 200px;
}
@media only screen and (min-width: 1450px) {
  .card--item--img {
    width: 250px;
  }
}
.card--item--content {
  padding: 3rem;
}
.card--item--content h4 {
  font-size: 1.5rem;
}
@media only screen and (max-width: 576px) {
  .card--item--content h4 {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 768px) {
  .card--item--content h4 {
    font-size: 1.1rem;
  }
}
@media only screen and (min-width: 992px) {
  .card--item--content h4 {
    font-size: 1.3rem;
  }
}
@media only screen and (min-width: 1450px) {
  .card--item--content h4 {
    font-size: 2rem;
  }
}
.card--item--content p {
  color: gray;
  line-height: 1.5rem;
}
@media only screen and (max-width: 576px) {
  .card--item--content p {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 576px) {
  .card--item--content p {
    font-size: 0.7rem;
  }
}
@media only screen and (min-width: 992px) {
  .card--item--content p {
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 1200px) {
  .card--item--content p {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 1450px) {
  .card--item--content p {
    font-size: 1.3rem;
  }
}
.card--item a {
  color: #000;
}
.card--item:hover {
  box-shadow: 2px 2px 20px 5px rgb(32, 32, 32);
}
.card--info {
  text-align: center;
  margin-top: 2rem;
  color: rgb(202, 196, 196);
}
@media only screen and (min-width: 1450px) {
  .card--info {
    font-size: 1.7rem;
  }
}
.card--info a {
  color: white;
}
.card--info a:hover {
  text-shadow: 5px 5px 10px black;
}

.contact {
  padding: 4rem 10rem;
  background-color: rgb(194, 192, 192);
}
@media only screen and (max-width: 576px) {
  .contact {
    padding: 4rem 2rem;
  }
}
@media only screen and (min-width: 576px) {
  .contact {
    padding: 4rem 2rem;
  }
}
@media only screen and (min-width: 992px) {
  .contact {
    padding: 5rem 3rem;
  }
}
@media only screen and (min-width: 1200px) {
  .contact {
    padding: 5rem 3rem;
  }
}
@media only screen and (min-width: 1450px) {
  .contact {
    padding: 8rem 15rem;
    justify-content: space-between;
  }
}
.contact--card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
}
@media only screen and (max-width: 576px) {
  .contact--card {
    flex-direction: column;
    align-items: initial;
    padding: 2rem;
  }
}
@media only screen and (min-width: 576px) {
  .contact--card {
    flex-direction: column;
    align-items: initial;
    padding: 2rem;
  }
}
@media only screen and (min-width: 768px) {
  .contact--card {
    flex-direction: row;
    align-items: initial;
  }
}
@media only screen and (min-width: 1450px) {
  .contact--card {
    align-items: initial;
  }
}
.contact--card--contents {
  flex-grow: 1;
}
.contact--card--contents h4 {
  font-size: 1.2rem;
}
@media only screen and (max-width: 576px) {
  .contact--card--contents h4 {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 576px) {
  .contact--card--contents h4 {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 1450px) {
  .contact--card--contents h4 {
    font-size: 2.5rem;
  }
}
.contact--card--contents p {
  color: gray;
}
@media only screen and (max-width: 576px) {
  .contact--card--contents p {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 576px) {
  .contact--card--contents p {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1450px) {
  .contact--card--contents p {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 1450px) {
  .contact--card--contents .form-control {
    font-size: 1.5rem;
  }
}
.contact--card--img {
  margin-top: 3rem;
  padding-left: 30px;
  width: 500px;
}
@media only screen and (max-width: 576px) {
  .contact--card--img {
    max-width: 100%;
  }
}
@media only screen and (min-width: 576px) {
  .contact--card--img {
    max-width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .contact--card--img {
    margin-top: 40%;
    width: 30rem;
  }
}
@media only screen and (min-width: 992px) {
  .contact--card--img {
    margin-top: 20%;
    width: 30rem;
  }
}
@media only screen and (min-width: 1200px) {
  .contact--card--img {
    margin-top: 10%;
    width: 40rem;
  }
}
@media only screen and (min-width: 1450px) {
  .contact--card--img {
    margin-top: 10%;
    width: 60rem;
  }
}/*# sourceMappingURL=main.css.map */