@use "../abstact/variable" as var;
@use "../abstact/functions" as func;

.about-area {
  padding: 8rem 8rem;
  background-color: func.them-colors();
  display: flex;
  justify-content: center;
  align-items: center;

  &--img {
    width: 20rem;
    height: 20rem;
  }
  &--content {
    color: #fff;

    h2{
        font-size: 3rem;
    }
    p{
        line-height: 1.7rem;
        color: #cfcfcf;
    }
    a{
        color: #fff;
        
        &:hover{
            text-shadow: 10px 10px 10px ;
            color: #000000;
        }
    }
  }
}
