@use"../abstact/mixins" as mixin;

.hero-area {
  padding: 5rem 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;

  @include mixin.responsive(xs){
    padding: 4rem 2rem;
    flex-direction: column;
  }

  @include mixin.responsive(sm){
    padding: 4rem 2rem;
    flex-direction: column;
  }
  @include mixin.responsive(md){
    padding: 4rem 2rem;
    flex-direction: column;
  }
  @include mixin.responsive(lg){
    padding: 5rem 2rem;
    flex-direction: row;
  }
 
 &--img{
  padding-top:20px ;
  width: 30rem;
 }

  &--contents {
    max-width: 34rem;
    
    @include mixin.responsive(lg){
      font-size: 1rem;
      margin-right: 1rem;
    
    }
  }

  &--title {
    font-size: 2.5rem;

    @include mixin.responsive(xs){
      font-size: 1.5rem;
    }
  }
  @include mixin.responsive(md){
    font-size: 1.3rem;
  }
  @include mixin.responsive(lg){
    font-size: 1.3rem;
  }
  &--desc {
    margin-top: 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    color: gray;

    @include mixin.responsive(xs){
      font-size: 0.8rem;
     
    }
    @include mixin.responsive(md){
      font-size: 0.9rem;
     
    }
    
  }
}
