@use "../abstact/functions" as func;
@use"../abstact/mixins" as mixin;
.card {
  padding: 2rem 8rem;
  background-color: func.them-colors();

  
  @include mixin.responsive(xs){
    padding: 4rem 2rem;
    
  }
  @include mixin.responsive(sm){
    padding: 4rem 2rem;
    
  }
  @include mixin.responsive(lg) {
    padding: 5rem 3rem;
  }


  &--heading {
    text-align: center;

    h2 {
      font-size: 2rem;
      color: #fff;
      
    @include mixin.responsive(xs){
     font-size: 1.5rem;
      
    }

    @include mixin.responsive(sm){
      font-size: 1.5rem;
       
     }
    }

    p {
      color: #d6d4d4;
         
    @include mixin.responsive(xs){
      font-size: 0.9rem;
       
     }

     @include mixin.responsive(sm){
      font-size: 0.9rem;
       
     }
    }
  }

  &--items {
    display: flex;
    justify-content: space-around;
    
    @include mixin.responsive(xs){
      flex-direction: column;
      text-align: center; 
      display: initial;
      align-items: center;       

    }
    @include mixin.responsive(sm){
      flex-direction: column;
     text-align: center;    
     align-items: center;       

    }
    @include mixin.responsive(lg){
      flex-direction: row;
      text-align: center; 
      align-items: center;       
    }
  }

  &--item {
    background-color: #fff;
    max-width: 300px;
    border-radius: 15px;
    overflow: hidden;
    @include mixin.responsive(lg){
      max: width 200px;
      margin-right: 1.5rem;
     }

     @include mixin.responsive(xs){
    margin-bottom: 1rem;   
    }

    @include mixin.responsive(sm){
      margin-bottom: 1rem;   
      }
      
    &--img {
      width: 200px;
     
    }
    &--content {
      padding: 2rem;

      h4 {
        font-size: 1.5rem;
        @include mixin.responsive(xs){
          font-size: 1.2rem;
          }
          @include mixin.responsive(md){
            font-size: 1.1rem;
            }
      }
      p {
        color: gray;
        line-height: 1.5rem;
        @include mixin.responsive(xs){
          font-size: 0.9rem;
          }

          @include mixin.responsive(xs){
            font-size: 0.7rem;
            }
            @include mixin.responsive(lg){
              font-size: 0.8rem;
              }
      }
    }
    a {
      color: #000;
    }

    &:hover {
      box-shadow: 2px 2px 20px 5px rgb(32, 32, 32);
    }
  }

  &--info {
    text-align: center;
    margin-top: 2rem;
    color: rgb(202, 196, 196);

    a {
      color: white;

      &:hover {
        text-shadow: 5px 5px 10px black;
      }
    }
  }
}
