@use "../abstact/variable" as var;
@use "../abstact/functions" as func;
@use "../abstact/mixins" as mixin;
.roadmap {
  padding: 8rem 10rem;

  @include mixin.responsive(xs) {
    padding: 4rem 2rem;
  }
  @include mixin.responsive(sm) {
    padding: 4rem 2rem;
  }
  @include mixin.responsive(lg) {
    padding: 5rem 3rem;
    }

  &--heading {
    text-align: center;
    h5 {
      font-size: 2rem;
    }
    p {
      color: gray;
    }
  }
  &--items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;

    @include mixin.responsive(xs) {
      flex-direction: column;
      margin-left: -3.2rem;
    }
    @include mixin.responsive(sm) {
      flex-direction: column;
      margin-left: -3.2rem;
    }
    @include mixin.responsive(lg) {
      flex-direction:row;
    }
  }

  &--item {
    position: relative;
    padding: 2rem 1rem;
    text-align: center;
    max-width: 350px;
    margin-left: 3.5rem;
    filter: grayscale(100%);
    @include mixin.responsive(lg) {
      max-width: 500px;
      padding: 0;
    }

    &:hover &__img::after {
      animation: rotate-infinite 4000ms linear infinite;
    }

    &__img {
      position: relative;
      height: 100px;
      width: 100px;
      margin: 0 auto 3px;

      img {
        height: 60px;
        width: 60px;
        margin-top: 25px;
      }

      &::after {
        position: absolute;
        top: 0;
        left: -5px;
        width: 100%;
        height: 100%;
        content: "";

        border: 5px dotted func.them-colors();
        border-radius: 50%;
      }
    }

    &--contents {
      margin-top: 2rem;

      h5 {
        font-size: 1.3rem;
        font-weight: 500;
      }
      p {
        color: gray;
        line-height: 1.5;
      }
    }

    &:not(:last-child)::before {
      transition: 500ms;
      position: absolute;
      top: 23%;
      right: -15%;
      content: "";
      width: 70px;
      height: 70px;
      font-family: "Font Awesome 5 Free";
      font-weight: 600;
      font-size: 3rem;
      color: rgb(24, 23, 23);
      z-index: 1;

      @include mixin.responsive(xs) {
        content: "\f107";
        top: 90%;
        left: 35%;
      }

      @include mixin.responsive(sm) {
        content: "\f107";
        top: 90%;
        left: 40%;
      }
      @include mixin.responsive(lg) {
        content: "";
        top: 20%;
        left: auto;
        right: -30%;
       

      }
    }

    &:hover:not(:last-child)::before {
      color: func.them-colors();
      right: -25%;
     
    }

    &:hover:last-child::after {
      position: absolute;
      top: 28%;
      right: -5%;
      content: "💖💥👍";
      width: 100px;
      height: 70px;
      font-family: "Font Awesome 5 Free";
      font-weight: 600;
      font-size: 1.7rem;
      z-index: 1;

      @include mixin.responsive(xs) {
        top: 90%;
        left: 30%;
      }
      @include mixin.responsive(sm) {
        top: 90%;
        left: 30%;
      }

      @include mixin.responsive(md) {
        top: 90%;
        left: 35%;
      }
      @include mixin.responsive(lg) {
        content: "💖👍";
        top: 20%;
        left: 75%;
      }
    }

    &:hover h5 {
      color: func.them-colors();
    }

    &:hover {
      filter: grayscale(0%);
    }
  }
}
